type: object
properties:
  status:
    type: string
    enum:
      - success
      - error
  deployment_detail:
    $ref: ./DeploymentDetail.yaml
  error:
    $ref: ./APIError.yaml
    nullable: true
