type: object
properties:
  name:
    type: string
  namespace:
    type: string
  class:
    type: string
  hosts:
    type: string
  address:
    type: string
  ports:
    type: string
  age:
    type: string
  labels:
    type: object
    additionalProperties:
      type: string
  annotations:
    type: object
    additionalProperties:
      type: string
